.card.mb-3.cardOwn {
    border: 6px solid #cb7f4c;
    background-color: #f9ece0;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: 100px;
}

.card .card-img-top {
    object-fit: cover;
    height: 200px;
    transition: transform 0.5s;
    border-bottom: 6px solid #cb7f4c;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card .card-body {
    padding: 20px;
    margin: 3px;
    
}

.card .card-title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .card-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.card .text-muted {
    font-size: 14px;
}

.card .btn {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.card table {
    margin-top: 20px;
}

.card table th {
    font-size: 16px;
    font-weight: bold;
}

.card table td {
    font-size: 16px;
}

.card .card-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0px 10px 0px;
}

button.btn.btn-success.cardOwn {
    margin-bottom: 0px;
    color: #fff;
    background: #dc3545;
    border: 0px;
}

button.btn.btn-danger.move-left {
    background: #ffca2c;
    border: 0px;
    color: #000;
}

.background.cardOwn {
    padding: 1px 10px 6px 10px;
}



@media only screen and (max-width: 480px) {
    .d-flex.justify-content-center.form-check.form-switch.mt-4 {
        padding-top: 60px;
    }

    .background.cardOwn {
        padding: 1px 10px 6px 10px;
    }

    .card.mb-3.cardOwn {
        margin: 0px 0px;
        top: 145px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .d-flex.justify-content-center.form-check.form-switch.mt-4 {
        padding-top: 60px;
    }

    .card.mb-3.cardOwn {
        margin: 0px 0px;
        top: 145px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .d-flex.justify-content-center.form-check.form-switch.mt-4 {
        padding-top: 67px;
        padding-right: 25px;
    }

    .background.cardOwn {
        padding: 1px 40px 6px 40px;
    }

    .card.mb-3.cardOwn {
        margin: auto 60px;
        top: 145px;
    }
}

@media only screen and (min-width: 1280px) {


    .background.cardOwn {
        padding: 1px 40px 6px 40px;
    }

    .card.mb-3.cardOwn {
        margin: auto 10rem;
        top: 145px;
    }
}

