.container-change-password {
    padding: 30px;
}

.container-change-password.or-color {
    border-radius: 37px;
    border: 6px solid #FE9F60;
    background: #f9ece0;
    box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 1);
}

h1 {
    margin-bottom: 2.5rem;
}

.edit-text {
    font-size: 18px;
    font-weight: 700;
}

input.edit-input {
    font-size: 18px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between; /* จัดให้ปุ่มอยู่ 2 ด้าน */
}

.button {
    order: 1; /* จัดลำดับปุ่ม Save ให้อยู่ด้านซ้าย */
}

button:hover {
    background-color: #0061c1; /* สีพื้นหลังเมื่อเมาส์ชี้ไปที่ปุ่ม */
    color: white; /* สีตัวอักษรเมื่อเมาส์ชี้ไปที่ปุ่ม */
}


.btn-danger {
    height: 40px;
    position: absolute;
    right: 0.7rem;
    order: 2;
    padding: 8px 16px;
}


@media only screen and (max-width: 480px) {

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .edit-text {
        font-size: 16px;
        font-weight: 600;
    }

    .input.edit-input {
        font-size: 16px;
        border-radius: 10px;
        padding: 6px 16px;
        margin-bottom: 5px;
    }

    p {
        margin-top: 0;
        margin-bottom: 0rem;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .btn-danger {
        right: 1rem;
    }
}