
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FE9F60;
}
.login-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 14px;
    border: 5px solid #cb7f4c;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    width: 80%;
}
.login-form {
    margin-top: 8vh;
}
.input {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 8px 16px;
    font-size: 16px;
    margin-bottom: 16px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
.input:focus {
    border-bottom-color: #0080ff;
    outline: none;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
    color:#cb7f4c;
}
.error {
    color: red;
    font-size: 14px;
}
.button {
    width: 200px;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #FE9F60;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
    .button:hover {
        background-color:#cb7f4c
;
    
    }


.btn-container {
    display: flex;
    justify-content:center;
    margin-bottom:10px;
}
.login-card h1{
    text-align:center;
}
.up{

}
.linker {
    margin-top: 1vh;
    display:flex;
    justify-content: center;
}
.img-contianer {
    text-align: center;
}
.login-image {
    text-align: center;
    border-radius: 4px;
    padding: 0;
    width: 350px;
    margin:0;
}
