.card.my-5.card-order {
    border: 6px solid #cb7f4c;
    background-color: #f9ece0;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-header.card-order {
    border-bottom: 6px solid #cb7f4c;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
}

button.btn.btn-success.card-order {
    margin-bottom: 0px;
}