a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;

}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-contianer{
    position:fixed;
    width:100%;
    z-index: 1;

}
.button-log {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    color: #FE9F60;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: 400;

}
Navbar {
background-color: #FE9F60;
}
.navtext {
color:white;
}
    .navtext:hover {
        color: #cb7f4c
    }
.active {
         color:green;
}