.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9ece0;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    padding: 24px;
    border-radius: 20px;
    border: 6px solid #74c393;
    background: #ffffff;
}

.profile-image-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

.profile-fullname {
    font-size: 18px;
    margin-bottom: 16px;
}

.profile-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.profile-contact-text {
    padding-left: 5px;
}
